.ml_scroll {
    width: 14%;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.slide {
    width: 90%;
    margin: 0 auto;
    height: 1.5rem;
    display: none;
}
.active {
    text-align: center;
    font-size: 1.2rem;
    display: block;
}
#up, #down { 
    width: 50%;
    margin: 1.5rem auto; 
    height: 2.6rem;
}
#img1, #img2 {
    align-items: center;
    width: 60%;
    height: 90%;
    background-position: center;
    background-size: cover;
}
#img1 {
    background-image: url("../../img/arrow-up.png");
}
#img2 {
    background-image: url("../../img/arrow-down.png");
}

/* --------------Responsive design-------------- */

/* Mobile version (<600px) */
@media screen and (max-width: 599px) {
    .ml_scroll {
        height: 18rem;
        overflow: hidden;
    }
}

/* Tablet version (portrait) >600px */
@media screen and (min-width: 600px) {
    .ml_scroll {
        height: 22rem;
        overflow: hidden;
    }
}

/* Tablet version (landscape) >900px */
@media screen and (min-width: 900px) {
    .ml_scroll {
        height: 24rem;
    }
}

/* Desktop version (>1200px) */
@media screen and (min-width: 1200px) {
    .ml_scroll {
        height: 28rem;
    }
}