
.type_scroll {
    width: 14%;
    height: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrap {
    display: flex;
    flex-direction: column;
    position: absolute;
}
.slides_cover {
    width: 95%;
    margin: 0 0 0 0.6rem;
    text-align: center;
    justify-content: space-between;
    height: 95%;
}
.slider {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.slides {
    padding: 0.5rem 0 0.5rem 0;
    text-align: center;
    color: rgb(81, 133, 236, 0.4);  
    height: 2rem;
} 
/* .active_type {
    margin-top: 6rem;
} */


/* --------------Responsive design-------------- */

/* Mobile version (<600px) */
@media screen and (max-width: 599px) {
    .type_scroll {
        height: 18rem;
    }
}

/* Tablet version (portrait) >600px */
@media screen and (min-width: 600px) {
    .type_scroll {
        height: 22rem;
    }
}

/* Tablet version (landscape) >900px */
@media screen and (min-width: 900px) {
    .type_scroll {
        height: 24rem;
    }
}

/* Desktop version (>1200px) */
@media screen and (min-width: 1200px) {
    .type_scroll {
        height: 28rem;
    }
}