
.type_scroll {
    width: 14%;
    height: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrap {
    display: flex;
    flex-direction: column;
    height: 4rem;
}
#upp {
    margin-bottom: -3rem;
    width: 40%;
    height: 3rem;
}
.slider {
    width: 95%;
    margin: 0 0 0 0.6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(100, 223, 251);
    font-size: 1.5rem;
    position: relative;
}
.slides {
    visibility: hidden;
}
.active_type {
    padding: 0.5rem 0 0.8rem 0;
    border: 1px solid rgb(81, 133, 236);
    text-align: center;
    color: rgb(81, 133, 236);
    visibility: visible;
}


/* --------------Responsive design-------------- */

/* Mobile version (<600px) */
@media only screen and (max-width: 599px) {
    .type_scroll {
        height: 18rem;
    }
}

/* Tablet version (portrait) >600px */
@media only screen and (min-width: 600px) {
    .type_scroll {
        height: 22rem;
    }
}

/* Tablet version (landscape) >900px */
@media only screen and (min-width: 900px) {
    .type_scroll {
        height: 24rem;
    }
}

/* Desktop version (>1200px) */
@media only screen and (min-width: 1200px) {
    .type_scroll {
        height: 28rem;
    }
}