@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Noto+Sans+JP&display=swap');

/* first page */

.form {
    width: 40%;
    margin: 8rem auto;
    display: flex;
}
.form1 {
    flex-direction: column;
    position: relative;
    width: 40%;
    margin: 8rem auto;
    display: inline-block;
}
.form1:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    background-color: transparent;
    border: 10px solid transparent;
    top: -10px;
    left: -10px; 
}
.form1:hover:before {
    animation: draw3 4s linear forwards;
}
@keyframes draw3 {
    0% {
        width: 0;
        height: 0;
        border-top-color: blue;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        width: 100%;
        height: 0;
        border-top-color: blue;
        border-right-color: blue;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: blue;
        border-right-color: blue;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}
.form1:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    background-color: transparent;
    border: 10px solid transparent;
    top: -10px;
    left: -10px; 
}
.form1:hover:after {
    animation: draw4 4s linear forwards;
}
@keyframes draw4 {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: blue;
    }
    50% {
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: blue;
        border-left-color: blue;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: blue;
        border-left-color: blue;
    }
}
.wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-left: 2rem;
    margin-top: 2rem;
    color: rgb(26, 138, 243);
}
.title {
    font-size: 3rem;
}
#glass {
    background-image: url('../../img/water.jpg');
    background-size: cover;
    background-position: center;
}
.glass {
    width: 30%;
    height: 10rem;
    align-items: center;
} 
.wrap_welcome {
    display: flex; 
    justify-content: space-between;
    margin: 1rem;
}
#design {
    display: flex;
    align-items: flex-end;
    color: rgb(26, 138, 243);
    font-family: 'Dancing Script', cursive;
}
#but {
    background-color: rgb(26, 138, 243);
    border-color: rgb(26, 138, 243);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    height: 3rem;
}
.start {
    width: 20%;
}

/* second page */
.form2 {
    justify-content: space-between;
    border: 10px solid blue;
}
.wrapper2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
    margin: 1rem;
}
#field {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 1rem;
}
#ques {
    margin-bottom: 1rem;
}
#btn {
    display: flex;
    align-items: flex-end;
}
.radio_btns {
    display: flex;
}
.next, .submit {
    width: 5rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
} 
.next {
    display: none;
}

/* main page */
.appl {
    display: flex;
    width: 70%;
    margin: 2rem auto;
    flex-flow: row wrap;
    border: 5px solid blue;
}

/*-----------responsive-----------*/

/* Mobile version (<600px) */
@media only screen and (max-width: 599px) {
    .form1, .form2 {
        width: 80%;
    }
    .appl {
        width: 90%;
    }
}

/* Tablet version (portrait) >600px */
@media only screen and (min-width: 600px) {
    .form1, .form2 {
        width: 70%;
    }
}

/* Tablet version (landscape) >900px */
@media only screen and (min-width: 900px) {
    .form1, .form2 {
        width: 50%;
    }
}

/* Desktop version (>1200px) */
@media only screen and (min-width: 1200px) {
    .form1, .form2 {
        width: 40%;
    }
}