.slider {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    width: 100%;
}
.wrpper {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 9rem;
    overflow: hidden;
}
.slide {
    width: 90%;
    height: 3rem;
    border: 1px solid black;
    display: none;
}
.active {
    border: 2px solid blue;
    display: block;
}
button {
    width: 20%;
    height: 3rem;
    margin-left: 2rem;
    margin-top: 5rem;
}